/** START Bootstrap like fields EXTENDED STYLES **/
.input {
    display:block;
    border:1px solid #ccc!important;
    height:2.5rem;
    margin: 5px 0;
    color:inherit;
}
.input-focus {
    box-shadow:none!important;
}
/** END Bootstrap like fields EXTENDED STYLES **/

#result_div {
  padding:10px 20px;
}
.b2i { // orange color
	color:#da7027;
	font-weight:bold;
}
.title {
	font-size:26px;
}

/*** START App Landing Page ***/
.app-content {
	section {
		margin:0;
	}
	.banner-head {
        // background-size:cover;
        // background-repeat:no-repeat;
        // background-position:center center;
		height:80vh;

		.banner-text {
		    text-align:right;
		    .action-button {
		    	.btn-floating {
			    	width: 120px !important;
			    	height: 120px !important;
			    	margin-right: 20px;
			    	margin-top: 20px;
			    	line-height:150%;
			    	font-weight:bold;
		    	}
		    }
		}
	}
	.section2 {
		padding:50px 0;

		.section-title {
			@extend .title;
		}

		.section-list {
			border-left:3px solid #da7027;
			padding-left:20px;
			ul > li {
				font-family:Montserrat-Bold;
				text-transform:uppercase;
				margin:15px 0;
			}
		}
	}
	.section3 {
		background-color:#e7e7e7;
		padding:50px 0;

		.section-title {
			
			text-align:center;
		}
		.title-pretext {
			text-align:center;
		}
		.benefits {
            .benefits-header {
                padding: 15px 0px;
            }
			.item {
				padding:10px;
				margin-top:10px;
				.item-img {
					width:40%;
				}
				.item-text {
					text-align:center;
					.item-caption {
						font-family:Montserrat-Bold;
						text-transform:uppercase;
						font-weight:bold;
						font-size:14px;
					}
					.item-description {
						font-size:14px;
						margin:0;
					}
				}
			}
		}
	}
	.section4 {
        // background-size:cover;
        // background-repeat:no-repeat;
        // background-position:center center;
		padding:80px 0;
		height:inherit!important;

		.card-panel {
			margin:0 30px;
			h6 {
				text-transform:uppercase;
				font-weight:bold;
				text-align:center;
				margin:1rem 0;
			}
		}
	}
	.section5 {
		padding:50px 0;
		.section-title {
			@extend .title;
            text-align:center;
		}

		.countdown-timer {
			margin:30px 0 20px 0;
			.item-time {
			    margin: 5px;
			    padding: 40px;
			    background-color: rgba(255, 156, 0, 0.8);
			    text-align: center;
			    width: 180px;
			    height: 180px;

			}
		}
        .stat-count {
            .item {
                margin:30px;
                // min-height:250px;
                .item-value {
                    line-height: 30%;
                }
            }
        }
		.event-date {
			font-size:20px;
		}
	}

	.section6 {
		background-color: #fff;
		padding-top: 40px;
		padding-bottom: 30px;
		.center {
			padding: 0px 0px;
		}
	}
}
.fixed-action-btn {
	.btn-floating {
		background-color: rgba(255, 156, 0, 0.8) !important;
	}
}
/*** END App Landing Page ***/

/*** START Signup Page ***/
.section-signup {
	padding:5px 0;

	.brand-img {
	    display: block;
	    margin:20px auto;
	    width:30%;
	}
	.section-title {
		font-family:Montserrat-Bold;
		text-align:center;
		font-weight:bold;
	}
	.signup-field {
		@extend .input;
		background-color:#fff;
	}
	.signup-field:focus {
		@extend .input-focus;
	}

	.card-panel {
		.tabs {
			background-color:inherit;
			.tab {
	            border-bottom:2px solid #9e9e9e;
	            a {
	                color:#9e9e9e;
	            }
	        }
	        .tab a.active {
	            color:#2bbbad;
	        }
	        .indicator {
	            background-color:#2bbbad;
	        }
	    }

		.tab-container {
			margin-top:20px;
		}
	}
}
/*** END App Landing Page ***/

/*** START Business page ***/
.business-page {
    .business-content {
        padding:50px 0;

        .section-title {
            @extend .title;
            margin-bottom:20px;
        }
        .article {
            .section-text {
                .article-title {
                    font-size:21px;
                }
                .benefits {
                    border-left: 4px solid #da7027;
                    padding-left: 8px;
                    font-weight:bold;
                }
            }
        }
        .article-steps {
            padding:30px;
            border:1px solid #c9c9c9;
            background-color:#fff;
            border-radius:3px;
            margin-bottom:20px;

            .article-title {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}
/*** END Business page ***/

/*** START Influencer page ***/
.influencer-page {
    .influencer-content {
        padding:50px 0;

        .section-title {
            @extend .title;
            margin-bottom:20px;
        }
        .article {
            .section-text {
                .article-title {
                    font-size:21px;
                }
                .benefits {
                    border-left: 4px solid #da7027;
                    padding-left: 8px;
                    font-weight:bold;
                }
            }
        }
        .article-steps {
            padding:30px;
            border:1px solid #c9c9c9;
            background-color:#fff;
            border-radius:3px;
            margin-bottom:20px;

            .article-title {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}
/*** END Influencer page ***/

/*** START ABOUT page ***/
.about-page {
    .about-content {
        padding:50px 0;

        .section-title {
            @extend .title;
        }
        
        .section-list {
            border-left:3px solid #da7027;
            padding-left:20px;
            ul > li {
                font-family:Montserrat-Bold;
                text-transform:uppercase;
                margin:15px 0;
            }
        }
    }
}
/*** END ABOUT page ***/

/*** START Contactus page ***/
.contact-page {
    .contact-field {
        @extend .input;
        background-color:#fff;
    }
    .textarea-contact-field {
        display:block;
        border:1px solid #ccc!important;
        height:7rem;
        margin: 5px 0;
        color:inherit;
        background-color:#fff;
    }
    .contact-field:focus, .textarea-contact-field:focus {
        @extend .input-focus;
    }
    .section-title {
        @extend .title;
        text-transform:uppercase;
    }
    .contact-content {
        padding:50px 0;

    }
    .location-content {
        padding: 20px 20px;

        .address {
            margin-bottom:40px;
        }
        .social-btn {
            li {
                display:inline;
                font-size:30px;
                margin:5px;

                a {
                    padding:15px 20px;
                    border-radius:50%;
                    border:1px solid #c9c9c9;
                    background:#c9c9c9;
                }

                 .mdi-facebook:hover {
                    color: #004de6;
                }
                 .mdi-twitter:hover {
                    color: #0099ff;
                }
                 .mdi-instagram:hover {
                    color: #c44dff;
                }
            }
        }
        .b2i-map {
            padding-top: 35px;
        }
    }
}
/*** END Contactus page ***/

/*** START Campaign public page ***/
.campaign-content {
    .campaign-image {
        height:60vh;
        background-color:#e9e9e9;
        align-items:flex-end;
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;

        .banner-text {
            margin-bottom:40px;
            .campaign-title {
                text-transform:uppercase;
                letter-spacing:1px;
                background-color:rgba(51, 51, 51, 0.7);
                color:#fff;
                display:inline;
                padding:5px;
                line-height:4.5rem;
            }
            .campaign-author {
                background-color:rgba(51, 51, 51, 0.7);
                display:inline;
                color:#fff;
                padding:5px;
                line-height:3.5rem;
            }
        }
    }
    .campaign-details {
        padding:40px 0;
        .campaign-description {
            margin-bottom:20px;
            .section-title {
                @extend .title;
                text-transform:uppercase;
            }
            .section-text {
                text-align:justify;
                margin-bottom:30px;
            }
            .btn.pill.campaign-category {
                height: 40px!important;
                line-height: 40px!important;
                font-size:13px;
                padding:0 1rem;
            }
        }
        .campaign-info {
            .details {
                border-left:3px solid #da7027;
                padding-left:15px;
                .detail-list li {
                    margin-bottom:18px;
                    font-size:18px;
                }
            }
        }
    }
}
/*** END Campaign public page ***/


@media only screen and (min-width : 268px) {
  .banner-head .parallax img {
    width: 100%;
    object-fit: cover;
    object-position: 18% 100%;
  }

}


@media only screen and (max-width : 568px) {
            .tag-line {
                font-size: 22px !important;
                padding-left: 0% !important;
                text-align: center !important;
                position: absolute;
                top: 10px !important;
                padding-bottom: 100px !important;
            }
            .banner-text {
                padding-top: 150px !important;
            }
            .action-button button {
                margin: 5px !important;
            }
}