$fa-font-path: "/build/assets/fonts/";
$icon-font-path: "/build/assets/fonts/";

@import "bower_components/materialize/sass/materialize";
@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/mdi/scss/materialdesignicons";

// @import "bower_components/material-design-icons/iconfont/material-icons";
// @import "http://fonts.googleapis.com/icon?family=Material+Icons";
/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/Avenir.ttc);
}
* {
  font-family:'Avenir';
  // font-family:OpenSans-Regular;
}
body {
  background-color:#f2f2f2;
  color:#4a4a4a;
}