body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.nav-user {
	background-color:#ffc107;
  .brand-logo img {
    width: 150px;
    margin-top: 15px;
  }
}
strong {
    font-weight:bold!important;
}
.b2i { 
    color:#da7027;
    font-weight:bold;
}
#main {
	flex: 1 0 auto;
}
#main, footer {
	padding-left:300px;
}
.container {
	padding: 1rem;
	margin: 0 auto;
	max-width: 100% !important;
	width: 98%;
}
nav .nav-wrapper {
    ul {
        li img.logout {
            height: 30px;
            margin-left: 15px;
            margin-top: 18px;
        }
    }
}


a.sidebar-collapse {
      left:10px;
      padding-left: 10px;
}
#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
    .side-nav .user-details {
		padding:10px;
		.avatar-dp {
			height:150px;width:150px;
			background-repeat:no-repeat;
			background-position: center center;
			background-size:contain;
		}
		.avatar-title{
			color:#fff;
			letter-spacing:2px;
		}
    }
}
ul.side-nav.fixed {
    overflow: auto;
    top: 64px;
    height:100%;
}
#slide-out li a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    img.menu-icon {
        height:42px;
    }
    span {
        display: block;
        margin-top: -62px;
        margin-left: 60px;
    }
    .mdi {
    	margin:0;
    }
}
footer .container {
    padding:0rem!important;
}
.footer {
    .footer-copyright {
        padding: 15px 0px;
    }
}

.no-footer {
     border-bottom: 0px solid #111111 !important;
     margin-bottom: 15px !important;
}

/** SideNavigation User Details Company Image & Company Name **/

    .user-details {
      display: block;
    }

    .user-name {
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
     }

     .user-image {
       margin-left: 10px;
       margin-right: 10px;
     }


/** End SideNavigation User Details **/


/** START Bootstrap like fields **/
input[type=text], input[type=email], input[type=date], input[type=password], .form-control {
    margin: 8px 0;
    display: block!important;
    width: 100%!important;
    padding: 7px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    box-sizing:border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=email]:focus:not([readonly]),  input[type=password]:focus:not([readonly]), .form-control:focus {
    border-color: #FFF;
    outline: 0;
}
.form-group {
    position: relative;
    margin-top: 0.5rem;
}
label {
    color:inherit;
}
.input {
    display:block;
    border:1px solid #ccc!important;
    height:2.5rem;
    margin: 5px 0;
    color:inherit;
}
.input-focus {
    box-shadow:none!important;
}
select {
  display:block;
}
.picker__weekday-display {
    background-color: #ffd600;
    color:#4a4a4a;
}
.picker__date-display {
    background-color: #ffea00;
    color:#4a4a4a;
}
.picker__year-display {
  color:#4a4a4a;
}




/** END Bootstrap like fields **/

.panel {
	margin-bottom:15px;
	padding:20px;
	background-color:#fff;
	border:1px solid #c9c9c9;
	border-radius:0px;
  table {
    .btn {
      padding: 0 1rem;
    }
  }
}
.b2i-field {
	@extend .input;
}
.b2i-field:focus {
	@extend .input-focus;
}
.b2i-select-field {
  border: 1px solid #ccc !important;
}
.dashboard-content {
	.section-content {
		margin:25px 0;

	}
}
.socialAccounts-content {
    .section-content {
        margin:25px 0;
        .action-buttons .btn {
            margin-bottom:10px;
        }
        .btn-facebook, .btn-twitter, .btn-google, .btn-instagram {
            line-height:48px!important;
            font-weight:bold;
        }
    }
}

.settings-content {
    .section-content {
        margin:25px 0;

    }
}
/*** START Admin Mediascreens ***/
@media only screen and (min-width : 1800px) {

}

@media only screen and (min-width : 1280px) and (max-width : 1440px){

}

@media only screen and (max-width : 992px) {
	#main, footer {
		padding-left: 0;
	}
	ul.side-nav.fixed {
        top: 0px;
    }
}
/*** END Admin Mediascreens ***/


/** Influencer DataTable **/

.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button {

                .disabled {
                    color: #f2f2f2 !important;
                }
                .disabled:active {
                    color: #f2f2f2 !important;
                }
                .current {
                    color: #f2f2f2 !important;
                }
            
            
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da7027 ), color-stop(100%, #da7027 )) !important; 
                background: -webkit-linear-gradient(top, #da7027  0%, #da7027  100%) !important;
                background: -moz-linear-gradient(top, #da7027  0%, #da7027  100%) !important;
                background: -ms-linear-gradient(top, #da7027  0%, #da7027  100%) !important;
                background: -o-linear-gradient(top, #da7027  0%, #da7027  100%) !important;
                background: linear-gradient(to bottom, #da7027  0%, #da7027  100%) !important; 
                color: #f2f2f2 !important;
                border-radius: 1px !important;
                letter-spacing: .5px !important;
            

        }            
        
    } 
}



 .dataTable {
     thead {
       th {
          background-color: #ffca28 !important;
          color: #424242 !important;
          border-bottom: 0px solid #111111 !important;
          border-radius: 0px !important;
        }
     }

     tbody {
        td {
          padding: 12px 10px !important;
                            
        }
     }

     .no-footer {
           border-bottom: 0px solid #111111 !important;
           margin-bottom: 30px !important;
      }
}



/*** Influencer Dashboard ***/

.panel {
  margin-bottom:15px;
  padding:20px;
  background-color:#fff;
  border:1px solid #fff;
  border-radius:0px;
}
.panel-brand {
  background-color:#e7e7e7;
  border-radius:0px;
  margin-bottom:15px;
  .panel-head {
    border-bottom:3px solid #f2f2f2;
    padding:1px 20px;
    .panel-title {
      font-size:15px;
      font-weight:bold;
    }
  }
  .panel-body {
    padding:20px;
  }
}
.b2i-field {
  @extend .input;
}
.b2i-field:focus {
  @extend .input-focus;
}

.modal {
    .modal-content {
        padding: 20px;
        .collection-item {
            padding-top: 20px;
        }
    }
    .modal-footer {
        .btn-delete-yes-campaign {
            margin-left: 10px;
        }
        .view-campaign {
            padding-bottom: 20px !important;
      
        }
    }
}


.dashboard-content {
  .section-content {
    margin:25px 0;

    .date-panel {
      overflow:hidden;
      color:#fff;
      background-color:#9c27b0;

      .panel-body {
        min-height:200px;
        max-height:200px;
        overflow:hidden;
        .time { font-size:23px; }
        .date { font-size:35px;font-weight:bold; }
        .year { font-size:23px; }
      }
    }

    .messages-panel {
      overflow:hidden;
      color:#fff;
      background-color:#ffc107;
      .panel-body {
        min-height:200px;
        max-height:200px;
        overflow:hidden;
      }
    }

    .announcement-panel {
      .announcement-container {
        padding:0 20px!important;
        overflow:auto;
        min-height:200px;
        max-height:200px;
        .announcement-content {
          .item {
            .item-title {
              font-weight: bold;
              font-size:15px;
            }
            .item-content {
              margin:5px 0;
              font-size:12px;
            }
          }
          .item-divider {
            height: 1px;
            overflow: hidden;
            background-color: #e0e0e0;
            margin:15px 0;
          }
        }
      }
    }
    .campaign-panel {
      .campaign-container {
        padding:3px;
        overflow:auto;
        min-height:400px;
        max-height:400px;
        .campaign-item {
          background-color:#eee;
          padding:10px 0;
          margin-bottom:5px;
          .campaign-title {
            font-size:15px;
            margin:0 0 1px 0;
            font-weight:bold;
          }
          .campaign-description {
            margin:5px 0;
            font-size:12px;
          }
          .btn.pill {
            height: 17px!important;
            line-height: 17px!important;
            font-size:10px;
            padding:0 0.5rem;
          }
          .influencers {
            .influencer {
              height:30px;
              width:30px;
              margin:0.2em 0;
              display:inline-block;
              border-radius:50%;
              background-color:#c9c9c9;
              background-size:cover;
              background-position:center center;
              background-repeat:no-repeat;
            }
          }
        }
      }
    }

    .card {
        width: 280px;
        margin: 1rem auto;
        img {
          height: 200px;
        }
    }

    .profile {
      border-top:3px solid #ffc107;
      .card-content {
        padding:15px 20px;

        .card-title {
          font-size:20px !important;
        }
        .label {
          color:#9e9e9e;
        }
      }
    }
  }
}
.campaign-content {
  .section-content {
    margin:25px 0;

    .action-buttons .btn {
      margin-bottom:10px;
    }
  }
}
.settings-content {
  .section-content {
    margin:25px 0;
    input[type="checkbox"]:checked + label:before {
      border-right:2px solid #9C27B0!important;
      border-bottom:2px solid #9C27B0!important;
    }
    .action-buttons .btn {
      margin-bottom:10px;
    }
  }
}

.top-border {
    border-top: 5px solid #ffc107;
    padding-top: 20px;
}



/*** END Influencer Dashboard ***/



/*** Influencer All Campaign Page ***/

.all-campaign-content {

  .container {

    .all-campaign {
      margin-bottom: 80px !important;
      display: block;

        .campaign-title {
          margin-left: 30px !important;
        }

        .all-category {
          display: block;
          margin-right: 30px !important;
            select {
              padding: 0px 10px !important;
              
            }
        }

    }

    .row {

        .card {
          width: 280px;
          margin: 1rem auto;

            .camp-img {
              height: 200px;
            }

            .card-reveal {
                .card-title {
                  font-size: 20px !important;
                }
            }

        }

    }

  }

}

/*** END Influencer All Campaign Page  ***/


