$fa-font-path: "/build/assets/fonts";
$icon-font-path: "/build/assets/fonts";

@import "bower_components/materialize/sass/materialize";
@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/mdi/scss/materialdesignicons";

// @import "bower_components/material-design-icons/iconfont/material-icons";
// @import "http://fonts.googleapis.com/icon?family=Material+Icons";
/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/Avenir.ttc);
}
* {
  // font-family: 'OpenSans-Regular';
  font-family: 'Avenir';
  color:#4a4a4a;
}
body {
  background-color:#f2f2f2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;

  z-index: 1001;

  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('../../../images/preloader.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }
}

.navbar-fixed {
  height:80px;
  nav {
    box-shadow:none;
    background-color:rgba(255,156,0,0.8);
    height:80px;
    line-height:80px;
    color:inherit;
    .brand-logo {
      color:#4a4a4a;
      img {
        width:150px;
        margin-top: 25px;
      }
    }
    ul li a {
      color:#4a4a4a;
      font-weight:bold;
      letter-spacing:1px;
    }
  }
}
strong {
  font-weight:bold;
}
main {
  flex: 1 0 auto;
}
footer.page-footer {
  margin-top:0!important;
}

.btn-rounded {
    height:100%!important;
    line-height:45px!important;
    border-radius:25px;
    margin:5px;
}
.btn-purple {
    background-color:#a25291;
}
.btn-orange {
    background-color:#da7027;
}
.btn-facebook {
    background-color:#3b5998;
    i {
      color:#fff;
    }
}
.btn-twitter {
    background-color:#00aced;
    i {
      color:#fff;
    }
}
.btn-google {
  background-color:#d34836;
  i {
    color:#fff;
  }
}
.btn-instagram {
  background-color:#4c68d7;
  i {
    color:#fff;
  }
}

.button-collapse {
  padding-top: 10px;
}

/** START Bootstrap like fields GENERAL STYLES **/
input[type=text], input[type=email], input[type=date], input[type=password], .form-control {
    margin: 8px 0;
    display: block!important;
    width: 100%!important;
    padding: 7px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    box-sizing:border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=email]:focus:not([readonly]),  input[type=password]:focus:not([readonly]), .form-control:focus {
    border-color: #FFF;
    outline: 0;
}
.form-group {
    position: relative;
    margin-top: 0.5rem;
}
label {
    color:inherit;
}
.select-wrapper {
    input.select-dropdown {
        background-color:#fff;
        border:1px solid #ccc;
        color:inherit;
        height:2.5rem;
        margin:5px 0;
    }
    span.caret {
        z-index:1;
        right:10px;
        top:12px;
    }
}
/** END Bootstrap like fields GENERAL STYLES **/

/*** START Admin Mediascreens ***/
@media only screen and (min-width : 1800px) {
  .section-signup {
    min-height:100vh;
    // valign-wrapper
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stat-count {
    .item {
        min-height:330px!important;
    }
  }
}

@media only screen and (min-width : 1280px) and (max-width : 1440px){
  .section-signup {
    min-height:100vh;
    // valign-wrapper
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stat-count {
    .item {
        min-height:250px!important;
    }
  }
}

@media only screen and (max-width : 992px) {
  .stat-count {
    .item {
        height: 200px !important; 
        width: 200px !important;
        margin: 30px auto !important;
    }
  }
}
@media only screen and (max-width : 568px) {
  .banner-head .parallax img {
    width: 100%;
    object-fit: cover;
    object-position: 18% 100%;
  }
  .stat-count {
    .item {
        height: 200px !important; 
        width: 200px !important;
        margin: 30px auto !important;
    }
  }
}



@media only screen and (min-width : 268px) {
  .banner-head .parallax img {
    width: 100%;
    object-fit: cover;
    object-position: 18% 100%;
  }

}
/*** END Admin Mediascreens ***/