body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.nav-user {
  background-color:#ffc107;
  .brand-logo img {
    width: 150px;
    margin-top: 15px;
  }
}
strong {
    font-weight:bold!important;
}
#main {
  flex: 1 0 auto;
}
#main, footer {
  padding-left:300px;
}
.btn {
  padding: 0 1rem !important;
}
.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}
nav .nav-wrapper {
    ul {
        li img.logout {
            height: 30px;
            margin-left: 15px;
            margin-top: 18px;
        }
    }
} 
a.sidebar-collapse {
  left:10px;
}
#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
    .side-nav .user-details {
      padding:10px;
      .avatar-dp {
        height:150px;width:150px;
        background-repeat:no-repeat;
        background-position: center center;
        background-size:contain;
      }
      .avatar-title{
        color:#fff;
        letter-spacing:2px;
      }
    }
}
ul.side-nav.fixed {
    overflow: auto;
    top: 64px;
    height:100%;
}
#slide-out li a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    img.menu-icon {
        height:42px;
    }
    span {
        display: block;
        margin-top: -62px;
        margin-left: 60px;
    }
}

/** START Bootstrap like fields EXTENDED **/
input[type=text], input[type=email], input[type=date], input[type=password], .form-control {
    margin: 8px 0;
    display: block!important;
    width: 100%!important;
    padding: 7px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    box-sizing:border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search]:focus:not([readonly]), .form-control:focus {
    border-color: #FFF;
    outline: 0;
}
.form-group {
    position: relative;
    margin-top: 0.5rem;
}
label {
    color:inherit;
}
.input {
    display:block;
    border:1px solid #ccc!important;
    height:2.5rem;
    margin: 5px 0;
    color:inherit;
}
.input-focus {
    box-shadow:none!important;
}
select {
  display:block;
}
.picker__weekday-display {
    background-color: #ffd600;
    color:#4a4a4a;
}
.picker__date-display {
    background-color: #ffea00;
    color:#4a4a4a;
}
.picker__year-display {
  color:#4a4a4a;
}
.file-control {
  @extend .form-control;
  background-color:#e7e7e7;
  padding:15px!important;
}
input[type=search] {
  @extend .form-control;
  @extend .input;
}
input[type=search]:focus {
  @extend .input-focus;
}
/** END Bootstrap like fields EXTENDED **/

#result_div {
  padding:10px 20px;
}

.panel {
  margin-bottom:15px;
  padding:20px;
  background-color:#fff;
  border:1px solid #c9c9c9;
  border-radius:5px;
}
.panel-brand {
  background-color:#fff;
  border:1px solid #c9c9c9;
  border-radius:5px;
  margin-bottom:15px;
  .panel-head {
    border-bottom:1px solid #c9c9c9;
    padding:1px 20px;
    .panel-title {
      font-size:15px;
      font-weight:bold;
    }
  }
  .panel-body {
    padding:20px;
  }
}

/*** START Dasboard admin ***/
.dashboard-content {
  .section-content {
    margin:25px 0;

    .panel-label {
      text-align:center;
      font-size:5.2rem;
    }

    .date-panel {
      overflow:hidden;
      color:#fff;
      background-color:#F44336;

      .panel-body {
        min-height:200px;
        max-height:200px;
        overflow:hidden;
        .time { font-size:23px; }
        .date { font-size:35px;font-weight:bold; }
        .year { font-size:23px; }
      }
    }
    .business-panel {
      overflow:hidden;
      color:#fff;
      background-color:#7cb342;
      .panel-body {
        min-height:200px;
        max-height:200px;
        overflow:hidden;
        text-align:center;
      }
    }
    .influencer-panel {
      overflow:hidden;
      color:#fff;
      background-color:#ffc107;
      .panel-body {
        min-height:200px;
        max-height:200px;
        overflow:hidden;
        text-align:center;
      }
    }
    .campaign-panel {
      overflow:hidden;
      color:#fff;
      background-color:#009688;
      .panel-body {
        min-height:200px;
        max-height:200px;
        overflow:hidden;
        text-align:center;
      }
    }
  }
}
/*** END Dasboard admin ***/

/*** START Campaign admin ***/
.campaign-content {
  .section-content {
    margin:25px 0;

    .nav-tabs {
      margin-bottom:10px;
      background-color:inherit;
      .tab {
          border-bottom:2px solid #9e9e9e;
          a {
              color:#9e9e9e;
          }
      }
      .tab a.active {
          color:inherit;
          background-color:#fff9c4;
      }
      .indicator {
          background-color:#f9a825;
      }
    }

    #pub_campaign, #unpub_campaign {
      .datatable {
        thead {
          th:not(:first-child) {
            text-align:center;
          }
          th {
            border-bottom:none;
          }
        }
        tbody tr {
          td:not(:first-child) {
            text-align:center;
          }
          td.action .btn {
            margin:0.1rem;
          }
        }
        tfoot {
          th:not(:first-child) {
            text-align:center;
          }
          th {
            border-top:none;
          }
        }
      }
    }
  }
}
/*** END Campaign admin ***/

/*** START Business admin ***/
.business-content {
  .section-content {
    margin:25px 0;

    .business-panel {
      .datatable {
        thead {
          th:not(:first-child) {
            text-align:center;
          }
          th {
            border-bottom:none;
          }
        }
        tbody tr {
          td:not(:first-child) {
            text-align:center;
          }
          td.action .btn {
            margin:0.1rem;
          }
        }
        tfoot {
          th:not(:first-child) {
            text-align:center;
          }
          th {
            border-top:none;
          }
        }
      }
    }
  }
}
/*** END Business admin ***/

/*** END Influencer admin ***/
.influencer-content {
  .section-content {
    margin:25px 0;

    .influencer-panel {
      .datatable {
        thead {
          th:not(:first-child) {
            text-align:center;
          }
          th {
            border-bottom:none;
          }
        }
        tbody tr {
          td:not(:first-child) {
            text-align:center;
          }
          td.action .btn {
            margin:0.1rem;
          }
        }
        tfoot {
          th:not(:first-child) {
            text-align:center;
          }
          th {
            border-top:none;
          }
        }
      }
    }
  }
}
/*** END Influencer admin ***/

/*** START Admin Mediascreens ***/
@media only screen and (min-width : 1800px) {

}

@media only screen and (min-width : 1280px) and (max-width : 1440px){

}

@media only screen and (max-width : 992px) {
	#main, footer {
		padding-left: 0;
	}
	ul.side-nav.fixed {
        top: 0px;
    }
}
/*** END Admin Mediascreens ***/